/* Master Style*/
body {
	font-family: 'Tenali Ramakrishna', sans-serif;
	margin: 0px;
}

.container{
	display: grid; /*Making the container use grid to add the elments */
	grid-template-columns: 1fr; /*1fr= fractinal unit, fixing the size of the 
								of the colums of the grid */
}

/*Navigation Styles*/
.nav_wrapper {
	display: flex; /*just like a Hbox in java, used to align the stuff in av bar*/
	justify-content: space-between;  /*to add space b/w the left and right side*/ 
	padding: 38px;
}

.left_side { /* As we have to elements on the left side we have to 
			 add them in a flex box so that the show up horizontal 
			 Without this the will show up vertically, 
			 elements stacing on top of each other*/
	 display: flex;
}

.nav_wrapper > .left_side > div{ /*this called treversing a tree, 
								 we are asking it to start from the nav_wap class
								 then go to the left side and apply this style to those div class
                                 */
	margin-right: 20px; /*space in b/w the 2 elements*/
	font-size: 0.9em; /*default font is 1em em is basically the percent of the orignal size */
	text-transform: uppercase; /*To make the text uppercase*/
}

.nav_link_wrapper{ 
	height: 22px; 
	border-bottom: 1px solid transparent; /*adding transparent border to the link name*/
	transition: border-bottom 0.5s;
}

.nav_link_wrapper a{ /*This is saying that go in nav_link_wrapper class and 
						 apply these style to the 'a' link
                     */
	color: #8a8a8a;
	text-decoration: none; /*removing the basic html underline*/
	transition: color 0.5s; /* changing the color of the text*/
}

.nav_link_wrapper :hover { /*this is telling it that when hover happens 
							 then do this, but his is only for the border*/
	border-bottom: 1px solid black;
}

.nav_link_wrapper a:hover {  /* Adding the style to the link name when hover happens*/
	color: black;
}

.active_nav_link{
	border-bottom: 1px solid black;
}

.active_nav_link a{
	color: black !important;
}

/*Portfolio Styles*/

.portfolio_items_wrapper{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.portfolio_item_wrapper{
	position: relative; /*so that we can have text over the images*/
}

.portfolio_background_img{
	height: 350px;
	width: 100%;
	background-size: cover; /*so that all the different size images fit in eqally*/
	background-position: center;
	background-repeat: no-repeat;
}

.img_text_wrapper{
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	text-align: center;
	padding-left: 100px;
	padding-right: 100px;
}

.img_text_wrapper:hover .subtitle {
	transition: 1s;
	font-weight: 600;
	color: transparent;
}

.img_text_wrapper:hover .subtitle {
	font-weight: 600;
	color: lightseagreen;
}

.img_darken{
	transition: 1s;
	filter: brightness(10%);
}

/*About page style*/

.two_column_wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.profile_image_wrapper img{
	width: 100%;
}

.profile_content_wrapper{
	padding: 30px;
}

.profile_content_wrapper h1{
	color: lightblue;
}